* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #9e7676;
  background: radial-gradient(circle, #9e7979 0%, #595454 100%);
  height: 100vh;
}
.d-center {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
label {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
}
td.selected {
  background-color: #ffffff;
}
img{
    object-fit: cover;
}
.logo{
    max-width: 60px;
}
.border-start{
  border-left: 10px solid #ffffff;
  padding-left: 10px;
}
.h-20{
  height: 20%;
}
.h-30{
  height: 30%;
}
.bg-back{
  background-color: #edd5d7;
}
.bg-1{
  background-color: #adaaaa;
}
.bg-2{
  background-color: #c19fa1;
}
.bg-3{
  background-color: #7b5356;
}
.table{
  background-color: #fff;
  margin-bottom: 0;
}
.nav-tabs .nav-item a{
  color: #bebebe;
}
.nav-tabs .nav-link.active{
  color: #7b5356;
}